@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.header {
    color: black;
    font-size: 48px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
    padding-left: 800px;
    white-space: nowrap;
}

.square {
    background-color: #6BA5FF;
    position: absolute;
    width: 640px;
    height: 1080px;
    left: 0px;
    top: 0px;
}