@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.header {
    color: black;
    font-size: 48px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
    padding-left: 800px;
}