.infoProfile{
    background-color:rgba(155,193,174);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-editProfile{
    background-color: hotpink;
}